<section class="featured-section">
    <div class="container-fluid">
     <div class="row">
        <div class="col-md-12 text-center mt-5">
        <h2 class="text-white">Featured Posts</h2>
        <p class="text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam placeat aspernatur perspiciatis enim vitae libero nostrum voluptatem illum vel obcaecati assumenda esse, quia in, eius, reprehenderit soluta ducimus aut facere?</p>
        </div>
     </div>
     <div class="row">
        <div class="col-lg-3">
           <app-post-card></app-post-card> 
        </div>
        <div class="col-lg-3">
            <app-post-card></app-post-card> 
         </div>
         <div class="col-lg-3">
            <app-post-card></app-post-card> 
         </div>
         <div class="col-lg-3">
            <app-post-card></app-post-card> 
         </div>
     </div>
    </div>
</section>
<section class="container mt-5">
<div class="col-md-12 text-center">
    <h2>Latest Posts</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima sint perferendis laudantium hic cumque perspiciatis. Ab ea similique quisquam iusto a aut ipsa. Architecto quis rem voluptatum dicta, quod nostrum.</p>
</div>
<div class="row">
    <div class="col-md-4 mt-3">
        <app-post-card></app-post-card>  
    </div>
    <div class="col-md-4 mt-3">
        <app-post-card></app-post-card>  
    </div>
    <div class="col-md-4 mt-3">
        <app-post-card></app-post-card>  
    </div>
    <div class="col-md-4 mt-3">
        <app-post-card></app-post-card>  
    </div>
    <div class="col-md-4 mt-3">
        <app-post-card></app-post-card>  
    </div>
    <div class="col-md-4 mt-3">
        <app-post-card></app-post-card>  
    </div>
</div>
</section>