<div class="card shadow-effect">
    <img src="https://images.pexels.com/photos/3586966/pexels-photo-3586966.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="post-image" class="card-img-top">
    <div class="card-body">
        <small class="bg-light text-danger text-center">Design</small>
        <small class="bg-light text-danger text-center ml-3">Featured</small>
        <small class="bg-light text-danger text-center ml-3">views-100,234s</small>
        <h5 class="mt-1">HOW TO START BLOG-2023</h5>
        <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus, accusantium fuga! Dicta praesentium iste harum. Cupiditate accusantium, nobis, laborum repellat fugit, accusamus quasi minus facere quidem expedita velit nulla esse!</P>
        <small class="bg-light text-danger text-center ml-3">LAST UPDATED - JAN 20,2023</small>
    </div>
</div>